.TodoItemContainer{
    list-style: none;
    background-color: #ffffff;
    box-shadow: 0 1px 10px;
    height: 60px;
    margin: 15px;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.icon-check-actived-word{
    text-decoration-line: line-through;
}

.icon-check-actived-bg{
    background-color: rgb(139, 248, 139);
}

.check-icon:hover{
    
    color: rgb(30, 211, 30);
    transform: scale(1.3);
}

.icon-check-finish{
    visibility: hidden;
}

.delete:hover{
    transition: all 0.2s;
    transform: scale(1.3);
    color: red;
}
