.TodoCounter{
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    margin: 15px;
    padding: 45px;
    color: rgb(88, 88, 88);
    background-color: #a8dadc;
    border-radius: 10px;
    box-shadow: 0 1px 10px;
    font-weight: bolder;
    border: none;
}